html body .wl-label{
	margin:0;
	padding:0;
}
.wl-label div,
.wl-label ul,
.wl-label li,
.wl-label p,
.wl-label label{
	margin:0;
	padding:0;
}
html body textarea.wl-text-form{
	-webkit-box-sizing:border-box;
	box-sizing:border-box;

	width:100%;
	height:100%;
	resize:none;
	outline:none;
	overflow:hidden;
	border:0px transparent;
	background:transparent;
	border-top:22px solid transparent;
	margin:0;
	padding:5px;
}
html body .wl-action{
	position:absolute;
	width:100%;
	height:16px;
	line-height:16px;
	margin:0;
	padding:5px 0;
	cursor:move;
}
html body .wl-action-menu {
	padding:0;
	margin:0;
	float:left;
	margin-left:5px;
}
html body .wl-menu-action{
	float:left;
	padding:0;
	margin:0;
}
html body .wl-setting-action,
html body .wl-save-action{
	font-size:12px;
	margin:0 3px 0 0;
	padding:1px 5px;
	color:white;

	-webkit-border-radius:5px;
	border-radius:5px;

	cursor:pointer;
}
html body .wl-action-menu .wl-action-list{
	position:absolute;
	top:0;
	left:-127px;
	list-style:none;
	width:120px;
	padding: 0px;
	margin:0;
	background: #EEE;
	border: 1px solid #999;
}
html body .wl-action-list li{
	margin: 0px;
	padding: 5px;
}
html body .wl-action-list li select{
	display:block;
}
html body .wl-action-list li p{
	margin:0;
	padding:0;
	font-size:12px;
	line-height: 20px;
	font-weight: bold;
	color:black;
}
html body .wl-action-list li p span{
	display:block;
	margin-left:5px;
	width:15px;
	height:15px;
	border:1px solid black;
	cursor:pointer;
}
html body .wl-delete-action{
	float:right;
	color:white;
	background:red;
	width:16px;
	line-height:16px;
	text-align:center;
	text-decoration:none;

	-webkit-border-radius:8px;
	border-radius:8px;
	-ms-border-radius:8px;
	-o-border-radius:8px;
	-moz-border-radius:8px;

	font-size:12px;
	cursor:pointer;
}
html body .wl-font-size-select{
	width:80px;
}
html body .wl-action-message{
	float:right;
	padding-right:10px;
	font-size:12px;
	opacity:0.4;
}
.wl-color-picker{
	z-index: 9999;
}
