body,h1,h2,h3,h4,h5,h6,div,ul,li,p,label,header,footer{
	margin:0;
	padding:0;
}
body{
	font-size:12px;
}
#container{
	width:280px;
}

/* action */
.action{
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	position:fixed;
	width:100%;
	padding:3px;
	z-index:9999;
	overflow-x:hidden;
}
.action,
.action .btn{
	background:#2F96B4;
}
.btn-toolbar{
	margin:0;
}
#searchLabelInput{
	margin:10px 5px;
	width:240px;
}
/*setting*/
.settingForm{
	position:fixed;
	z-index:9999;
	right:0;
}
.settingForm .onOff{
	margin:10px 20px;
}
.settingForm p{
	float:left;
}
.settingForm .templateLabel{
	margin:3px 0 3px 20px;
}
.settingForm select{
	margin-left:5px;
}
.settingForm .colorpicker{
	display:block;
	margin:3px 5px;
	width:15px;
	height:15px;
	border:1px solid black;
	cursor:pointer;
}
.settingForm .divider{
	margin:0;
}
/* label */
.label-list{
	padding:0;
}
.label-list .label-term{
	position:relative;
	padding:10px;
	border-top:1px #EEE solid;
}
.label-list .label-term a{
	float:left;
	width:200px;
	text-decoration:none;
	outline:none;
}
.label-list .label-term:hover{
	background:#EEE;
}
.label-list .label-term .label-right{
	float:right;
	width:40px;
}
.label-list .label-term h5{
	word-wrap:break-word;
	color:#353535;
}
.label-list .label-term p{
	margin:0;
	padding:0;
	word-wrap:break-word;
	font-size:12px;
	color:#08C;
}
.label-list .label-term  .labels-action{
	clear:both;
}
.label-list .label-term .content-open-btn{
	display:block;
	text-align:center;
	line-height:24px;
	font-size:24px;
	cursor:pointer;
}
.label-list .label-term .content-open-btn:hover{
	color:#AAA;
}
.label-list .label-term .labels-delete-btn{
	float:right;
}
.label-list .label-content{
	margin:5px;
	padding:5px;
}

/* utility */
.fix:after{
	content:"";
	visibility: hidden;
	display:block;
	clear:both;
}