body,h1,h2,h3,h4,h5,h6,div,ul,li,p,label,header,footer{
	margin:0;
	padding:0;
}
body{
	overflow-x:hidden;
	margin:0 20px 0 0;
	width:280px;
	font-size:12px;
	
}
body div .action{
	margin-top:10px;
}
body div .action li{
	margin:5px 0;
	border:1px solid #CCC;
	cursor:pointer;

	-webkit-border-radius:5px;
	border-radius:5px;
}
body div .action a{
	outline:none;
	text-decoration:none;
}
body div .action a i{
	margin:10px 14px 0 14px;
	width:15px;
}
body div .action a span{
	display:block;
	text-align:center;
}
.action-on{
	background:#EEE;
}

/* label */
.label-list{
	padding:0;
}
.label-list .label-term{
	position:relative;
	padding:5px;
	border-top:1px #EEE solid;
}
.label-list .label-term a{
	float:left;
	width:200px;
	text-decoration:none;
	outline:none;
}
.label-list .label-term:hover{
	background:#EEE;
}
.label-list .label-term .label-right{
	float:right;
	width:40px;
}
.label-list .label-term h4{
	word-wrap:break-word;
	color:#353535;
}
.label-list .label-term p{
	margin:0;
	padding:0;
	word-wrap:break-word;
	font-size:12px;
	color:#08C;
}
.label-list .label-term  .labels-action{
	clear:both;
	padding-top:10px;
}
.label-list .label-term .content-open-btn{
	display:block;
	text-align:center;
	line-height:24px;
	font-size:24px;
	cursor:pointer;
}
.label-list .label-term .content-open-btn:hover{
	color:#AAA;
}
.label-list .label-term .labels-delete-btn{
	float:right;
}
.label-list .label-content{
	margin:5px;
	padding:5px;
}

/* utility */
.fix:after{
	content:"";
	visibility: hidden;
	display:block;
	clear:both;
}